* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #263138;
}

header {
  background-color: #FF9A6C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
}

header nav a {
  color: #FFFFFF;
  font-weight: 600;
  padding: 20px;
  text-decoration: none;
}

#inicio {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 80px 128px 80px;
  position: relative;
}

h1,
h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

.botao {
  background-color: #FF725E;
  padding: 16px 32px;
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
}

.botao-transparente {
  background-color: transparent;
  color: #FF9A6C;
  padding: 16px 32px;
  text-underline-offset: 4px;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica li {
  margin-bottom: 15px;
  margin-left: 32px;
}

#farmacia {
  padding: 64px 80px;
  text-align: center;
}

#farmacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

#duvidas {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

.duvida {
  position: relative;
}

.duvida h3 {
  border: 3px solid #FF725E;
  border-radius: 12px;
  cursor: pointer;
  padding: 15px;
}

.duvida img {
  position: absolute;
  top: 26px;
  right: 24px;
}

.duvida .paragrafo {
  border-right: 1px solid #FF725E;
  border-left: 1px solid #FF725E;
  border-bottom: 1px solid #FF725E;
  border-radius: 0 0 9px 9px;
  margin-top: -12px;
  padding: 0 24px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: .2s;
}

.duvida.ativa .paragrafo {
  height: fit-content;
  opacity: 1;
  padding: 24px;
}

footer {
  background-color: rgba(255, 152, 108, 0.40);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 30px 80px;
  
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;  
}

footer nav a {
  color: #263138;
  display: block;
  margin-bottom: 14px;
  text-decoration: none;
  max-width: 350px;
}

footer p {
  margin-bottom: 16px;
  margin-top: 20px;
}

footer p a {
  color: #FF725E;
  text-decoration: none;
}

footer img {
  margin-top: 35px;
}

#copyright {
  background-color: #263138;
  padding: 24px;
  text-align: center;
  color: #FFFFFF;
}

#copyright a {
  color: #FF725E;
}

